@font-face {

  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

* {box-sizing: border-box}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background-color: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Стили шапки */

.main-header {
  margin-top: 40px;
  color: #000000;
}

/*Кнопки на главной странице */
.button-main {
  position: relative;
}

.navigation-form {
  width: 50%;
}

.navigation-compare {
  margin-right: 18px;
}

.navigation-login {
  margin-left: 26px;
  margin-right: auto;
}

.navigation-icon {
  margin-right: 12px;
}

.logo-link {
  position: relative;
  width: 145px;
  height: 36px;
  top: -20px;
}

.navigation-main{
  padding-bottom: 134px;
}

.navigation{
  width: 1160px;
  margin: 0 auto;
  padding-left: 60px;
  padding-right: 60px;
  background-color: #FFE17F;
}

.navigation-list {
  display: flex;
  width: 1040px;
  margin: 0;
  margin-top: 30px;
  padding: 0;
  list-style-type: none;
}

.navigation-list:first-of-type{
  margin-top: 10px;
}

.button-search {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;
}

.navigation-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.navigation-services {
  position: relative;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation-icon-catalog {
  position: absolute;
  width: 50px;
  height: 50px;
  padding: 15px 15px;
  margin-top:-16px;
  margin-left: 7px;
  border-radius: 50%;
  border: 2px solid #000000;
  opacity: 0.3;
}

.navigation-services-margin {
  margin-left: 45px;
}

.navigation-catalog {
  margin-right: auto;
  margin-left: 0;
}
/* index.html */
/* Стили слайдера */

.main-container {
  flex-grow: 1;
}

.page-container {
  display: flex;
  flex-wrap: wrap;
  width: 1160px;
  margin: 0 auto;
}

.slider {
  margin-bottom: 80px;
}

.slider-specifications-list {
  display: flex;
  list-style: none;
}

.slider-heading {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  text-align: left;
  margin: 0;
  margin-bottom: 29px;
  color: #000000;
}

.slider-paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 50px;
  color: #444444;
}

.button {
  position: relative;
  display: block;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 50px;
  width: 220px;
  letter-spacing: 0.2em;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  background-color:transparent;
  border:none;
  z-index: 0;
}

.button::before {
  position:absolute;
  background-color: #FFE17F;
  width: 100%;
  height: 8px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  content: "";
  z-index: -1;
}

.slider-specifications {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
  color: #000000;
}

.slider-description {
  display: block;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: #444444;
}

.slider-specifications-list {
  padding: 0;
}

.slider-specifications-item {
  padding-right: 20px;
}

.slider-pagination-item {
  display: flex;
}
/* Список категорий каталога */

.catalog-categories {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 17px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 70px;
  text-align: left;
}

.catalog-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-item {
  margin-right: 40px;
}

.catalog-name {
  width: 160px;
  height: 60px;
}

.catalog-item-link {
  position: relative;
  color: #000000;
  text-decoration: none;
  width: 160px;
  height: 160px;
}

.catalog-item-icon {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 160px;
  height: 160px;
  background: #FFE17F;
}

/* Услуги */

.page-container-services {
  position: relative;
  display: flex;
  width: 1160px;
  height: 319px;
  margin: 0 auto;
}

.services {
  display: flex;
  margin-bottom: 70px;
  background-color: #F0F0F0;
}

.services .button {
  width: 160px;
}

.services-list {
  margin: 72px 63px 72px 0;
  padding: 0;
  list-style-type: none;
}

.services-list-item {
  display: flex;
}

.services-images {
  margin-left: 106px;
}
.services-list-button {
  margin: 65px 243px 65px 0;
  padding:0;
  list-style-type: none;
}

.page-container-services::before {
  position:absolute;
  background-color: #000000;
  width: 7px;
  height: 319px;
  left: 280px;
  top: 0;
  content: "";
  z-index: 0;
}

.list-button-item {
  margin-bottom: 35px;
}

.button-services {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  padding: 10px 4px 10px 4px;
  text-transform: uppercase;
  color: #000000;
}

.services-heading {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  margin-bottom: 34px;
  color: #000000;
}

.services-paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  color: #444444;
}

/* Доставка товара */

.page-container-delivery {
  width: 1160px;
}

.delivery {
  background-color: #F0F0F0;
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.delivery-images {
  background-color:#FFE17F;
}

.delivery-link {
  display: flex;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.delivery-icon {
  position: absolute;
  width: 125px;
  height: 100px;
  padding: 35px 39px;
  background-color: #FFE17F;
}

.delivery-text {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  width: 910px;
  height: 20px;
  margin: 40px 0 40px 0;
  text-align: center;
}

/* Контактная информация */

.page-container-contact {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.contact-information {
  display: flex;
  margin-bottom: 70px;
}

.contact-information-block {
  position: relative;
  width: 540px;
  margin-right: auto;
}

.contact-information-block::before {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  width: 84px;
  height: 7px;
  background: #000000;
  content: "";
  z-index: 0;
}

.contact-heading {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 48px;
  color: #000000;
}

.contact-paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 30px;
  color: #444444;
}

.contact-list {
  margin: 0;
  margin-bottom: 30px;
  padding: 20px;
}

.contact-list-item {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 20px;
  color: #000000;
}

.contact-button {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.contact-text {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 15px;
  color: #444444;
}

.contact-phone {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  margin-top: -30px;
  margin-bottom: 30px;
  text-decoration-line: underline;
  color: #444444;
}

/* Рассылка */

.distribution {
  background-color: #F0F0F0;
}

.distribution-list {
  display: flex;
  list-style: none;
  margin: 0;
  margin-bottom: 144px;
  padding: 0;
  padding-top: 64px;
}

.distribution-heading {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  width: 30%;
  margin-top: 64px;
  color: #000000;
}

.distribution-paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin: 64px 0 144px 252px;
  width: 560px;
  color: #444444;
}

.distribution-form {
  display: flex;
  width: 1158px;
  padding-bottom: 56px;
}

.button-distribution {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}

.distribution-info {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  display: block;
  color: #444444;
}

.distribution-icon {
  margin-left: auto;
  margin-right: 16px;
  margin-top: 7px;
  margin-bottom: 7px;
}
/* catalog.html */
/* Хлебные крошки*/

.inner-header{
  width: 1160px;
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 35px;
}

.inner-header h1{
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  margin-bottom: 16px;
  color: #000000;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 36px;
}

.breadcrumbs-item:not(:last-child){
  background-image: url("../images/arrow-right.svg");
  background-size: 16px 16px;
}

.breadcrumbs-link {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
}
/* Каталог продуктов */

.catalog-right-column {
  width: 840px;
  background-color:#FFFFFF;
}

.sorting-container {
  display: flex;
  background-color:#F0F0F0;
}

.button-updown {
  display: flex;
  padding: 0;
  margin: 20px 40px 20px 0;
  list-style-type: none;
}

.updown-item {
  width: 30px;
  height: 30px;
}

.sorting-button-updown {
  padding: 9.5px 10px;
}

.catalog-products {
  background-color: #F0F0F0;
}

.page-container-catalog {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.catalog-filter {
  width: 320px;
}

.catalog-filter-group {
  padding: 0;
  margin: 0;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #FFFFFF;
}

.catalog-title {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  margin: 26px 206px 26px 40px;

  padding: 0;
  color: #000000;
  text-transform: uppercase;
}

.catalog-filter-title {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.catalog-filter-list {
  padding: 0 ;
}

.control{
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.button-vision {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;
}

.select-control {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  width: 141px;
  height: 30px;
  margin: 20px 206px 20px 0;
  color: #000000;
}

.product-list {
  margin: 0;
  padding-top: 70px;
}

.product-card {
  width: 360px;
  padding:0;
  margin: 0 20px 44px 20px;
  list-style-type: none;
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  margin: 0;
  color: #000000;
}

.product-card-image {
  display: block;
  margin-bottom: 32px;
}

.product-card-price {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #444444;
}

.pagination {
  display:flex;
  width: 760px;
  height: 71px;
  padding: 0;
  margin: 0;
  margin-left: 20px;
  margin-bottom: 78px;
  align-items: center;
  list-style-type: none;
  justify-content: center;
  background-color: #FFFFFF;
  background: #EBEBEB;
}

.pagination-forward {
  margin-right: 146px;
}

.pagination-back {
  margin-left: 146px;
}

.pagination-show-more {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  width: 760px;
  height: 55px;
  padding: 0;
  margin: 0;
  margin-left: 20px;
  margin-bottom: 44px;
  border: 3px solid #E5E5E5;
  color: #000000;
  background-color: #FFFFFF;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.pagination-link-number {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 16px 10px 16px;
  color: #444444;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.pagination-link {
  text-decoration: none;
}

.pagination-backforward {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;;
}

.pagination-backforward:last-child {
  margin-right: 146px;
}

.pagination-backforward:first-of-type {
  margin-left: 146px;
}

/* Футер страницы */

.page-footer-container {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.page-footer {
  background-color: #444444;
}

.footer-contacts {
  position: relative;
  width: 250px;
}

.footer-contacts:first-of-type::before {
  position:absolute;
  background-color: #FFC700;
  width: 80px;
  height: 7px;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  margin-top: 237px;
  content: "";
  z-index: 0;
}

.logo-footer-link {
  display: block;
  margin-top: 62px;
  margin-bottom: 35px;
}

.footer-links {
  width: 450px;
  margin-left: 119px;
  margin-right: 183px;
}

.about-text {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.footer-services-list {
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 62px;
  padding-top: 137px;
  list-style-type: none;
  justify-content: space-between;
}

.footer-social-network-list {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-bottom: 61px;
  padding: 0;
  list-style-type: none;
}

.footer-social-network-list-item:not(:last-child){
  margin-right: 15px;
}

.footer-social-network-links {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

.footer-social-network-telegram {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.footer-social-network-youtube {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.footer-social-network-twitter {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.footer-services-links {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}

.footer-contacts-address-phone {
  display: block;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-top: 140px;
  margin-bottom: 63px;
  text-decoration-line: underline;
  color: #FFFFFF;
}
